body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

/*
div {
    background-color: #E4F9F5;
}*/

.top {
    background-color: #E4F9F5;
    padding: 20px;
    border: solid 10px;
    margin: 10px
}

.middle {
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom {
    background-color: blue;
    width: 200px;
    height: 200px;
}