/*TAG SELECTOR */
h1 {
  color: red;
  font-size: 100px;
}


img:hover {
  background-color: gold;
}

/*class selector*/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/*ID selector */
#heading {
  color: blue;
}
